/* common rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 20px auto;
}

aside, .main_part{
    float: left;
    margin-bottom: 20px;
}

/* debug */

.debug #site_header{
    height: 8rem;
    background-color: aqua;
}

.debug .hero_image{
    height: 400px;
    background-color: blanchedalmond;
}

.debug .title{
    height: 6rem;
    background-color: blueviolet;
}

.debug aside{
    height: 400px;
    background-color: blueviolet;
}

.debug .main_part{
    height: 400px;
    background-color: blueviolet;
}

.debug #site_footer{
    height: 4rem;
    background-color: brown;
}

/* main */

.hero_image{
    margin: 15px 0;
}

.title{
    margin-bottom: 20px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


aside{
    width: 20%;
    
}

.main_part{
    width: 58.3%;
    margin: 0 10px;
}

